{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="d-flex justify-content-center">
            <a href="{{ path('randomLocation') }}">
                <img src="{{ asset('build/images/portal-rick-and-morty.gif') }}" alt="Portal" class="text-center"
                     height="400px"/>
            </a>
        </div>
        <div class="container justify-content-center text-xxl-center  rounded-3" id="quoteoftheday">
            <span class="text-center">{{ quoteOfTheDay }}</span>
        </div>
    </div>
{% endblock %}
